.love-bag {
  background: rgb(119, 204, 221);
  background: linear-gradient(
    90deg,
    rgba(119, 204, 221, 1) 0%,
    rgba(228, 228, 228, 1) 0%,
    rgba(138, 138, 156, 1) 100%
  );
}

.my-button:hover {
  background: rgb(119, 204, 221);
  background: linear-gradient(
    90deg,
    rgba(119, 204, 221, 1) 0%,
    rgba(228, 228, 228, 1) 0%,
    rgba(138, 138, 156, 1) 100%
  );
  filter: brightness(0.8); /* Add a shade effect on hover */
  color: white;
}
