@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-left {
  animation: slideFromLeft 1s ease-out;
}

.animate-right {
  animation: slideFromRight 1s ease-out;
}
